<div class="p-8">
    <h1 class="text-bold font-mono italic">list of panels here</h1>
    
  {% for panel in collections.panels %}
   <div class="">
   
        <a class="font-body underline lg:text-sm md:text-sm sm:text-sm" href="{{ panel.url | url }}">{{ panel.data.title }}</a>
     
    </div>
  {% endfor %}

  <h1 class="text-bold font-mono italic mt-8">list of characters here</h1>
    
  {% for ch in collections.characters %}
   <div class="">
      
        <a class="font-body underline lg:text-sm md:text-sm sm:text-sm" href="{{ ch.url | url }}">{{ ch.data.charname }}</a>
     
    </div>
  {% endfor %}
</div>