---
layout: layouts/base.njk
---
<div class="flex p-2 mt-2 md:mx-10 md:mt-10" id="character">
    <div class="char-block m-2">
        <img class="w-56" src={{charimg}}>
        <p class="text-sm text-center">{{charname}}</p>
    </div>
    <div class="dialog-block m-4  relative">
        <div class="bg-white rounded-md p-4 ">
            <h1 class="font-bold font-body italic text-xl">{{  greeting  }}</h1><br>
            <p class="font-body">{{ content | safe }}</p>
            <div class="absolute w-0 h-0 border-t-[13px] border-t-transparent border-b-transparent border-b-[13px] border-r-[26px] border-r-white -left-6 top-12 translate-y-[-50%]"></div>
        </div>

        <div class="bg-white rounded-md py-4 px-2 mt-4">     
            <p class="font-body italic font-thin px-4 mb-2">Look out for</p>
                        <div class="flex flex-row">
                {% for q in images %}
                            <img class="w-20 object-contain px-6 quesimg" src={{q.img}}>	
                            {# <p class="w-64 text-sm" >{{thumb.caption}}</p> #}
                {% endfor %}	
                        </div>
        </div>  
    </div>       
 </div> 
 
          
   


    

