---
layout: layouts/base.njk
---
<h1 class="text-5xl p-8">{{  title  }}</h1>

<div class="flex flex-row">
{% for thumb in thumbnails %}
        <div class="flex-col">
			<img class="w-64" src={{thumb.img}}>	
			<p class="w-64 text-sm" >{{thumb.caption}}</p>
        </div>
{% endfor %}	

<p class="max-w-prose">{{ content | safe }}</p>
</div>
