---
title: CHARACTER CARD PANELS FOR MUSEUM IN A BOX
description: A 11TY SITE FOR EXHIBITION PANELS!
layout: layouts/base.njk
---

<div id="charactercards">
    <h1>title for cards</h1>
    {% for post in collections.characters %}
        <div class="content-card border-2 border-neutral-700 rounded-xl m-4 font-body ">
            <div class="flex">
                <img class="p-3 w-24" src="{{ post.data.charimg }}">
                <p class="bg-gray-100/60 mt-2 p-4 w-48 rounded-md content-center">{{ post.data.greeting }}</p>
             </div>  
                <div>
                    <h1 class="p-3 text-center text-lg font-bold content">{{ post.data.title }}</h1>
                </div>
        </div>
        {% endfor %}
 </div>