---
title: JWARA IN THE STREETS OF BENGALURU
description: A 11TY SITE FOR EXHIBITION PANELS!
layout: layouts/base.njk
---
<div class=" w-full" x-init="console.log('Hello from Alpine.js')">
  <p class="text-5xl p-8">typhoid project list of panels</p>
   {% include "src/_includes/components/list.njk" %}

</div>

